/* CSS */
.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    color: #555;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .uploaded-image-container {
    margin:100px 300px;
    border: 5px solid hsl(100, 50%, 2%); /* Add a border style */
    border-radius: 2px;
  }
  
  img {
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .highlighted-word {
    background-color: rgba(255, 0, 0, 0.3);
    padding: 2px;
    border: 1px solid red;
  }
  
  .buy-decision {
    margin-top: 20px;
    font-weight: bold;
    color: #007bff;
  }
  
  .buy-decision.do-not-buy {
    color: red;
  }
  
  .buy-decision.safe-to-buy {
    color: green;
  }
  